@model IEnumerable<VisitorManagementApp.Models.Staff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container" align="right">
    @using (Html.BeginForm())
    {
        @Html.TextBox("SearchString", null, new { @class = "form-control col-md-4 mb-2", placeholder = "Search by name" })
        <input type="submit" value="Search"class="btn btn-secondary btn-lg mb-3"/>
    }
</div>

<table class="table table-hover">
    <tr class="bg-dark text-white">
        <th>
            @Html.DisplayNameFor(model => model.Name)
            @Html.ActionLink("<>", "Index", new { sortOrder = ViewBag.NameSortParm }, new { @class = "text-decoration-none text-white" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficeLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficeLocation)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.StaffId }, new { @class = "btn btn-success btn-sm" })
            @Html.ActionLink("Delete", "Delete", new { id=item.StaffId }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
