@model VisitorManagementApp.Models.Admin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Details</h2>

<div>
    <hr />
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.Name):</h4>
            </div>
            <div class="col-md-9">
                <h5>@Html.DisplayFor(model => model.Name)</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.Email):</h4>
            </div>
            <div class="col-md-9">
                <h5>@Html.DisplayFor(model => model.Email)</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.Username):</h4>
            </div>
            <div class="col-md-9">
                <h5>@Html.DisplayFor(model => model.Username)</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.Phone):</h4>
            </div>
            <div class="col-md-9">
                <h5>@Html.DisplayFor(model => model.Phone)</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.Address):</h4>
            </div>
            <div class="col-md-9">
                <h5>@Html.DisplayFor(model => model.Address)</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.OfficeLocation):</h4>
            </div>
            <div class="col-md-9">
                <h5>@Html.DisplayFor(model => model.OfficeLocation)</h5>
            </div>
        </div>

    </div>
</div>
<br />
<h5>
    @Html.ActionLink("Back to List", "Index", "Admin")
</h5>
