@model VisitorManagementApp.Models.Visitor

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}

<div class="container text-center p-2" id="white-bg">
    <div class="text-dark">
        <h1 class="display-4 text-dark" id="welcome">Thank you for visiting...</h1>
    </div>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.VisitorId)

            <div hidden="hidden">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })

                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })

                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })

                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })

                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })

                @Html.EnumDropDownListFor(model => model.Purpose, htmlAttributes: new { @class = "form-control" })

                @Html.EditorFor(model => model.TimeIn, new { htmlAttributes = new { @class = "form-control" } })

                @Html.EditorFor(model => model.TimeOut, new { htmlAttributes = new { @class = "form-control" } })
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Checkout" class="btn btn-danger btn-lg mb-5" id="mybutton" />
                </div>
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
