@model IEnumerable<VisitorManagementApp.Models.Visitor>

@{
    ViewBag.Title = "CheckoutList";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}

<div class="container p-4" id="white-bg">


    <div class="container my-3" align="center">
        <h4 class="text-center my-5">Please type in your name to checkout.</h4>
        @using (Html.BeginForm())
        {
            <input type="text" name="searchstring" value=""
                   placeholder="Search by name..." class="form-control col-md-12 my-5 text-center"
                   style="height: 60px; border-radius: 35px; font-size: 1.3em;" />
            <input type="submit" value="Search" class="btn btn-secondary btn-lg mb-3" style=" width:120px; border-radius: 30px;" />
        }
    </div>

    @if (ViewBag.Checker != null)
    {
        <table class="table table-hover">
            <tr class="bg-dark text-white">
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Purpose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeOut)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Purpose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeOut)
                    </td>
                    <td>
                        @*
                            @Html.ActionLink("Edit", "Edit", new { id = item.VisitorId }) |
                        *@
                        @Html.ActionLink("Checkout", "Checkout", new { id = item.VisitorId }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        @ViewBag.Checker
    }

</div>



