@model VisitorManagementApp.Models.Visitor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Details</h2>

<div>
    
    <hr />
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.FirstName):</h4>
            </div>
            <div class="col-md-9">
                <h5>@Html.DisplayFor(model => model.FirstName)</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.LastName):</h4>
            </div>
            <div class="col-md-9">
                <h5>@Html.DisplayFor(model => model.LastName)</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.Email):</h4>
            </div>
            <div class="col-md-9">
                <h5>@Html.DisplayFor(model => model.Email)</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.Phone):</h4>
            </div>
            <div class="col-md-9">
                <h5>@Html.DisplayFor(model => model.Phone)</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.Address):</h4>
            </div>
            <div class="col-md-9">
                <h5>@Html.DisplayFor(model => model.Address)</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.Purpose):</h4>
            </div>
            <div class="col-md-9">
                <h5>@Html.DisplayFor(model => model.Purpose)</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.TimeIn):</h4>
            </div>
            <div class="col-md-9">
                <h5>@Html.DisplayFor(model => model.TimeIn)</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4>@Html.DisplayNameFor(model => model.TimeOut):</h4>
            </div>
            <div class="col-md-9">
                <h5>@Html.DisplayFor(model => model.TimeOut)</h5>
            </div>
        </div>

    </div>
</div>
<br />
<h5>
    @Html.ActionLink("Back to List", "Index", "Visitor")
</h5>
